 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>
                        I am Wahiduzzaman Khan. I have completed my B.Sc. on statistics and currently studying for my Master’s degree at Shahjalal University of Science and Technology.
                    </p>
                    <p>
                        I am an R programmer and R-Shiny expert. I have working with R and Shiny for more than 3 years. In this time I have worked on numerous projects. I am currently working at <a href="https://insightspecialists.com/" style="color: white;text-decoration: none;">Insight Specialists</a> as a Software Engineer. 
                    </p>
                    <p>
                        Besides R and Shiny, I also have a good knowledge of MySQL, HTML, CSS.
                    </p>
                </div>
            </div>
        </div>
    </section>
