<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Services</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for service in site.services %}
                <div class="col-sm-4 services-item">
                    <div class="icon">
                        <img src="img/services/{{ service.img }}" alt="{{ service.alt }}" class="icon-image img-responsive">
                    </div>
                    <h3 class="service-title"> {{service.name}} </h3>
                    <p class="service-details"> {{service.description}} </p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>